@model string
<div class="col-lg-3">
    <div class="nav-panel">

        <h4>Knockout Ref</h4>
        <div class="list-group">
            <a class="@(Model == "Index" ? "active" : "") list-group-item" href="@Url.Action("Index")">
                Home
            </a>
            <a class="@(Model == "DontUseKnockout" ? "active" : "") list-group-item" href="@Url.Action("DontUseKnockout")">
                Not Use Knockout
            </a>
            <a class="@(Model == "DoUseKnockout" ? "active" : "") list-group-item" href="@Url.Action("DoUseKnockout")">
                Use Knockout
            </a>
            <a class="@(Model == "Observables" ? "active" : "") list-group-item" href="@Url.Action("Observables")">
                Observables
            </a>
            <a class="@(Model == "Bindings" ? "active" : "") list-group-item" href="@Url.Action("Bindings")">
                Applying Bindings
            </a>
            <a class="@(Model == "Objects" ? "active" : "") list-group-item" href="@Url.Action("Objects")">
                Objects
            </a>
            <a class="@(Model == "Structure" ? "active" : "") list-group-item" href="@Url.Action("Structure")">
                Structure
            </a>
            <a class="@(Model == "Loading" ? "active" : "") list-group-item" href="@Url.Action("Loading")">
                Loading
            </a>
            <a href="@Url.Action("BindingHandlers")" class="@(Model == "BindingHandlers" ? "active" : "") list-group-item">
                Binding Handlers
            </a>
            <a class="@(Model == "Computed" ? "active" : "") list-group-item" href="@Url.Action("Computed")">
                Computed Properties
            </a>
            <a class="@(Model == "BindingContext" ? "active" : "") list-group-item " href="@Url.Action("BindingContext")">
                The Binding Context
            </a>
            <a class="@(Model == "Require" ? "active" : "") list-group-item" href="@Url.Action("Require")">
                RequireJS
            </a>
            <a class="@(Model == "Form" ? "active" : "") list-group-item" href="@Url.Action("Form")">
                Using Forms
            </a>
            <a class="@(Model == "Mapping" ? "active" : "") list-group-item" href="@Url.Action("Mapping")">
                The Mapping Plugin
            </a>
        </div>
    </div>
</div>