@model KnockoutLunchAndLearn.Models.SimpleFormModel

@{
	ViewBag.Title = "DontUseKnockout";
}
@Html.Partial("_Navigation", "DontUseKnockout")
<h2>Don't Use Knockout for something like this</h2>

@using (Html.BeginForm("DontUseKnockout", "Home", FormMethod.Post))
{
	@Html.HiddenFor(x => Model.Id)
	<div class="form-group row">
		<div class="col-md-6">
			@Html.Label("Name", new { @class= "control-label" })
			@Html.TextBoxFor(x => Model.Name, new { @class = "form-control" })
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-6">
			@Html.Label("Password", new { @class= "control-label" })
			@Html.PasswordFor(x => Model.Description, new { @class = "form-control" })
		</div>
	</div>
	<input type="submit" class="btn" value="Login" />
}
